[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
autopep8 = "*"

[packages]
peewee = "*"
peewee-async = "*"
cacheout = "*"
aiopg = "*"
tornado = "*"
entrancebar = "==0.0.15"
blinker = "*"
mako = "*"

[requires]
python_version = "3.6"
