<html>
<head>
<meta name="theme-color" content="#ffffff" />
<meta charset="utf-8" />
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
<script src="/static/jquery/jquery-3.1.1.min.js"></script>
<script src="/static/semantic/semantic.min.js"></script>
<link rel="stylesheet" href="/static/font-awesome/font-awesome.css">
<script src='/static/vuejs/vue.js'></script>
<script src="/static/js-cookie/js.cookie.min.js"></script>
<script src="/static/axios/axios.min.js"></script>
</head>
<body>
    <div class="ui menu container" id=menu>
        <div class="item medium header">KnoeledgeFruits Manager</div>
        <div class="item right button"><button class="ui basic button" @click=logout>注销</button></div>
    </div>
    <div id=sidebar class="ui text container">
        <div class="ui segment">
            <div class="ui left attached rail">
                <div class="ui vertical menu">
                    <a class="active teal item">
                        角色数
                        <div class="ui teal left pointing label">{[ profiles.length ]}</div>
                    </a>
                    <a class="item">
                        材质数
                        <div class="ui label">{[ textures.length ]}</div>
                    </a>
                </div>
            </div>
            <table class="ui blue table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>角色名</th>
                        <th>角色类型</th>
                        <th>模型类型</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Apples</td>
                        <td>200</td>
                        <td>0g</td>
                    </tr>
                    <tr>
                        <td>Orange</td>
                        <td>310</td>
                        <td>0g</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        
    
    
    <script>
    var menu = new Vue({
        el: "#menu",
        data: {
            yggdrasilurl: ""
        },
        methods: {
            logout: function(){
                let that = this
                axios.get("/api/knowledgefruits/").then(function(response){
                    that.yggdrasilurl = response.data.Yggdrasil.BaseUrl
                }).catch((err) => {
                    throw err;
                })
                axios.post(this.yggdrasilurl + "/authserver/invalidate", {
                    "accessToken": Cookies.get("accessToken"),
                    "clientToken": Cookies.get("clientToken")
                }).catch((err) => {
                    throw err;
                })
                Cookies.remove("accessToken")
                Cookies.remove("clientToken")
                window.location.href = "/api/knowledgefruits/login"
            }
        }
    })
    var sidebar = new Vue({
        el: "#sidebar",
        delimiters: ['{[', ']}'],
        data: {
            profiles: [],
            textures: [],
            email: ""
        },
        methods: {
        },
        mounted() {
            let that = this
            axios.post("/api/knowledgefruits/resource", {
                sourceId: Cookies.get("accessToken")
            }).then(function(response){
                that.profiles = response.data.profiles
                that.email = response.data.email
            })
            axios.get("/api/knowledgefruits/user/textures/accessToken", {
                params: {accessToken: Cookies.get("accessToken")}
            }).then(function(response){
                that.textures = response.data
            })
        },
    })
    </script>