<html>
    <head>
        <meta name="theme-color" content="#ffffff" />
        <meta charset="utf-8" />
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
        <script src="/static/jquery/jquery-3.1.1.min.js"></script>
        <script src="/static/semantic/semantic.min.js"></script>
        <link rel="stylesheet" href="/static/font-awesome/font-awesome.css">
        <script src='/static/vuejs/vue.js'></script>
        <script src="/static/axios/axios.min.js"></script>
    </head>
    <body>
        <div class="ui">
                <div class="ui center raised very very padded container" style="margin-top: 14%;">
                <div class="ui card centered raised" id="information">
                    <div class="content">
                        <img class="right floated mini ui circular image" :src="head">
                        <div class="header">{[ username ]}</div>
                        <div class="meta">来自 {[ way ]}</div>
                        <div class="description" v-if="bio">{[ bio ]}</div>
                        <div class="description" v-else>真懒, 什么也没有说...</div>
                    </div>
                    <div class="extra content">
                        <div class="ui input icon fluid">
                            <input style="margin-bottom: 2px;" :placeholder=email type="text" readonly/>
                            <i class="envelope icon"></i>
                        </div>
                        <div class="ui input icon fluid" :class='{"error": truepasswd}'>
                            <input @input="readypass($event)" style="margin-bottom: 2px;" type="password" v-model="passwd"/>
                            <i class="key icon"></i>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <div class="ui basic red button">取消</div>
                            <div class="ui basic green button">继续</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var app = new Vue({
                el: "#information",
                delimiters: ['{[', ']}'],
                data: {
                    username: "",
                    way: "",
                    bio: "",
                    head: "",
                    email: "",
                    truepasswd: false,
                    passwd: ""
                },
                methods: {
                    init: function(){
                        let that = this;
                        function UrlSearch() 
                        {
                            var name,value; 
                            var str=location.href; //取得整个地址栏
                            var num=str.indexOf("?") 
                            str=str.substr(num+1); //取得所有参数   stringvar.substr(start [, length ]
                            var arr=str.split("&"); //各个参数放到数组里
                            for(var i=0;i < arr.length;i++){ 
                                num=arr[i].indexOf("="); 
                                if(num>0){ 
                                    name=arr[i].substring(0,num);
                                    value=arr[i].substr(num+1);
                                    this[name]=value;
                                } 
                            } 
                        }
                        var url = new UrlSearch();
                        axios.get("/api/knowledgefruits/oauth/github/resource", {
                            params: {
                                "code": url.code
                            }
                        }).then(function(response){
                            that.email = response.data.email;
                            that.username = response.data.name;
                            that.way = response.data.way;
                            that.bio = response.data.bio;
                            that.head = response.data.face;
                        }).catch((err) => {
                            throw err;
                        });
                    },
                    readypass: function(event){
                        let passwdre = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,22}$/;
                        if(!passwdre.test(this.passwd)){
                            this.truepasswd = true;
                        }else{
                            this.truepasswd = false;
                        }
                    }
                },
                mounted(){
                    //console.log(this.$route.query);
                    this.init();
                }
            });
        </script>
    </body>