<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/semantic.min.js"></script>
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>

<div class="ui attached stackable menu">
  <div class="ui container">

    <a class="item">
      <i class="home icon"></i> 主页
    </a>

    <a class="item">
      <i class="grid layout icon"></i> 浏览
    </a>

    <a class="item">
      <i class="mail icon"></i> 信息
    </a>

    <div class="ui simple dropdown item">
      更多
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item"><i class="edit icon"></i> 情况编辑</a>
        <a class="item"><i class="globe icon"></i> 选择语言</a>
        <a class="item"><i class="settings icon"></i> 账号设置</a>
      </div>
    </div>

    <div class="right item">
        <button class='circular ui primary button'>注册</button>
        <button class='circular ui button'>登录</button>
    </div>

  </div>
</div>


</body>